@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/Teachers-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/Teachers-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/static/Teachers-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/static/Teachers-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/static/Teachers-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/static/Teachers-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/static/Teachers-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/static/Teachers-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/static/Teachers-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/static/Teachers-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/static/Teachers-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Teachers';
    src: url('/fonts/Teachers/static/Teachers-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}